.form-group {
    margin-right: 20px;
}

.myapp-petform {
    padding: 20px;
}

.form-inline {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
}

h4 {
    text-align: center;
    margin-top: 20px;
    font-size: 1.25rem;
}